<div class="container py-5">
    <div class="row">
        <table class="table table-dark ">
            <tr>
                <td>Sr.No</td>
                <td>Name</td>
                <td>Age</td>
                <td>Addrress</td>
                <td>Status</td>
            </tr>
            @for (item of users; track $index) {
            <tr>
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.name | uppercase}}
                </td>
                <td>
                    {{item.address | data}}
                </td>
                <td>
                    {{item.age}}
                </td>
                @if (item.isActive) {
                <td [ngStyle]="{'background':item.isActive?'green':'red'}">
                    {{item.isActive}}
                </td>
                }@else {
                <td [ngClass]="bgRed">
                        Not Active
                </td>
                }
            </tr>
            }
        </table>
    </div>
</div>